/* Add this CSS to your main CSS file */
.glow-button {
    position: relative;
    animation: glow 1.5s infinite;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px rgba(23, 26, 23, 0.5), 0 0 15px rgba(0, 255, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 10px rgba(13, 16, 13, 0.8), 0 0 20px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.8), 0 0 60px rgba(0, 255, 0, 0.8);
    }
    100% {
      box-shadow: 0 0 5px rgba(0, 255, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.5);
    }
  }
  

  